<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <title>Our Love Story</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <style type="text/css">
        @font-face {
            font-family: digit;
            src: url('{{ url_for('static',filename="digital-7_mono.ttf") }}') format("truetype");
        }
    </style>
    <link href="{{ url_for('static',filename="css/default.css") }}" type="text/css" rel="stylesheet">
    <script src="{{ url_for('static',filename="js/jquery.js") }}" type="text/javascript"></script>
    <script src="{{ url_for('static',filename="js/garden.js") }}" type="text/javascript" ></script>
    <script src="{{ url_for('static',filename="js/functions.js") }}" type="text/javascript" ></script>
</head>

<body>

{#    <script type="text/javascript">#}
{#        var answer=prompt("This web is made for XinChan Li! Are you?(yes/no)");#}
{#            if(answer=="yes"){#}
{#                var passwd=prompt("Please input the key I give you!");#}
{#                    if(passwd=="shmily" || passwd=="Shmily")#}
{#                        alert("It means \"See How Much I Love You\"!");#}
{#                    else {#}
{#                        alert("Sorry, It's wrong, please try again.");#}
{#                        window.close();}}#}
{#            else if(answer=="no"){#}
{#                alert("Sorry, this web is not for you !");#}
{#                window.close();}#}
{#            else{#}
{#                alert("Sorry, please try again.");#}
{#                window.close();}#}
{#    </script>#}


    <div id="picture">
        <img height="160" width="300" src="{{ url_for('static', filename='11.gif') }}">
    </div>

    <audio loop autoplay>  
        <source src="{{ url_for('static', filename='11.mp3') }}"  type="audio/mpeg">
    </audio>
 
    <div id="mainDiv">
        <div id="content">
            <div id="code">
                <span class="comments">/*</span><br />
                <span class="space"/><span class="comments">* We are both Xi'an University of Technology,</span><br />
                <span class="space"/><span class="comments">* so I write some code to show you my love.</span><br />
                <span class="space"/><span class="comments">*/</span><br />
                Boy i = <span class="keyword">new</span> Boy(<span class="string">"kba977"</span>);<br />
                Girl u = <span class="keyword">new</span> Girl(<span class="string">"Shmily"</span>);<br />
                <span class="comments">// April 11, 2013, I told you I like you. O(∩_∩)O</span><br />
                i.like(u);<br />
                <span class="comments">// And...you told me you like me, too.</span><br />
                u.say();<br />
                <span class="comments">// Do you know, that night I was too excited to sleep!</span><br />
                <span class="keyword">var</span> sleeplessness=i.miss(u);<br />
                <span class="comments">// April 19, 2013, It was a cold day,looking your hands shivered, how I wanted to go to warm your hands at that time, However, I had no qualifications.~~~~(>_<)~~~~ </span><br />
                $("body").append();<br />
                <span class="comments">// How I want to take care of u.  Whenever I think of you, my ugly face will smile.~~(ˇˍˇ）~~</span><br />
                i.takeCareOf(u);<br />
                <span class="comments">// So I keep waiting and I have confidence that you will accept me.</span><br />
                <span class="keyword">boolean</span> isAccept = <span class="keyword">false</span>;<br />
                <span class="keyword">while</span> (isAccept) {<br />
                <span class="placeholder"/>i.waitFor(u);<br />
                <span class="placeholder"/><span class="comments">// I think it is an important decision</span><br />
                <span class="placeholder"/><span class="comments">// and you should forget the unhappy things that happended before.</span><br />
                <span class="placeholder"/>isAccept = u.thinkOver();<br />
                }<br />
                <span class="comments">// Please believe me, and put your hand in my hand.</span><br />
                <span class="comments">// After a please sound of accept, we will live happily ever after.</span><br />
                <span class="comments">// And today, I will told you aloud, I love you, not just like you !</span><br />
                u.accept(i);<br />
                i.liveHappilyWith(u);<br />
            </div>

            <div id="loveHeart">
                <canvas id="garden"></canvas>
                <div id="words">
                    <div id="messages">
                        <center>
                            Shmily, I will have fallen in love with you for
                            <div id="elapseClock" style="display:none"></div>
                            <a href='#' id="accept">click me if accept me</a>
                        </center>
                    </div>
                    <div id="loveu">
                        I Love You Forever.<br/>
                        <div class="signature">- kba977</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script type="text/javascript">
        var offsetX = $("#loveHeart").width() / 2;
        var offsetY = $("#loveHeart").height() / 2 - 55;
        
        if (!document.createElement('canvas').getContext) {
            var msg = document.createElement("div");
            msg.id = "errorMsg";
            msg.innerHTML = "Your browser doesn't support HTML5!<br/>Recommend use Chrome 14+/IE 9+/Firefox 7+/Safari 4+"; 
            document.body.appendChild(msg);
            $("#code").css("display", "none")
            $("#copyright").css("position", "absolute");
            $("#copyright").css("bottom", "10px");
            document.execCommand("stop");
        } else {
            setTimeout(function () {
                adjustWordsPosition();
                startHeartAnimation();
            }, 10000);
            
            $("#accept").click(function(){
                $(this).hide();
                $("#elapseClock").show();
                var together = new Date();
                timeElapse(together);
                setInterval(function () {
                    timeElapse(together);
                }, 500);
            })
            adjustCodePosition();
            $("#code").typewriter();
        }
    </script>
</body>
</html>
